.ui-dialog.cool-modal-preview {
  max-width: 92%;
}

.ui-dialog.cool-modal-preview > .ui-dialog-content {
  position: relative;
  overflow-y: hidden;
  padding: 0;
}

.cool-modal-preview > .ui-dialog-content::before {
  display: block;
  visibility: hidden;
  padding-bottom: 1000%;
  content: "";
}

.cool-modal-preview > .ui-dialog-content > iframe.cool-iframe {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  border: none;
  aspect-ratio: unset;
}
