/* CSS for collabora online Drupal module */
/*
 * Copyright the Collabora Online contributors.
 *
 * SPDX-License-Identifier: MPL-2.0
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.cool-frame__preview {
  width: 100%;
  height: 100%;
  border: 0;
}

.cool-frame__iframe {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid;
}

.cool-editor__dialog {
  position: fixed;
  /* seems to be a reasonable value to be above of it all */
  z-index: 501;
  top: 250px;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 250px);
  resize: both;
}

.cool-editor__body {
  margin: 0;
}
